@charset "UTF-8";
  
.container{
  height: 100vh;
  overflow: hidden;
}
.container .btn{
  position: absolute;
  z-index: 9999;
  top: 100px;
  right: 0;
}
.container .bg-img{
  position: absolute;
  opacity: 0;
  width: 100%;
  border-radius: 50px;
}

.wrapper{
  position: relative;
}
.wrapper .txt-wrapper{
  position: absolute;
  top: 0; left: 0;
}
.wrapper .txt-wrapper h2{
  color: #9AC8CD;
  font-weight: bold;
  font-size: 3rem;
  margin: 10px 0;
  line-height: 0.9;
  /* transition: 1s 0.8s; 진행시간 대기시간 */
  transform: translateY(50px);
  opacity: 0;
}
.wrapper .txt-wrapper.active span,
.wrapper .txt-wrapper.active h2{
  opacity: 1;
  transform: translateY(0);
}

/* <div class="container">
<img src="../images/main-img/main-bg1.png" alt="메인 슬라이드 이미지1" class="bg-img">
<img src="../images/main-img/main-bg2.png" alt="메인 슬라이드 이미지2" class="bg-img">
<img src="../images/main-img/main-bg3.png" alt="메인 슬라이드 이미지3" class="bg-img">
<a href="#" class="btn"><img src="../images/main-img/Group 75.png" alt="" class="btn-img"></a>
</div> */
