@charset "utf-8";

/******** sub-main ********/
.sub-main {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 200px 0 150px 30px;
}
.sub-main .sub-main-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  height: 100%;
  width: 100%;
}
.sub-main .sub-main-container .sub-main-box1 {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  position: relative;
}
.sub-main .sub-main-container .sub-main-box2 {
  position: absolute;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}
.sub-main .sub-main-container .sub-main-box3 {
  position: absolute;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}
.product-item.box1 {
  position: absolute;
  width: 23vw;
  height: 23vw;
}
.product-item.box2 {
  position: absolute;
  width: 23vw;
  height: 23vw;
}
.product-item.box3 {
  position: absolute;
  width: 23vw;
  height: 23vw;
}

/* 제품이미지 */
.sub-main .sub-main-container .sub-main-box1 .product1 {
  position: relative;
  width: 28vw;
  height: 28vw;
  object-fit: contain;
  padding: 5px;
  top: 0%;
  left: 5%;
}
.sub-main .sub-main-container .sub-main-box2 .product2 {
  position: relative;
  width: 28vw;
  height: 28vw;
  object-fit: contain;
  padding: 5px;
  top: -28%;
  left: 2%;
}
.sub-main .sub-main-container .sub-main-box3 .product3 {
  position: relative;
  width: 27vw;
  height: 27vw;
  object-fit: contain;
  padding: 5px;
  top: 0%;
  left: 0%;
}

/* 배경 색상 */
.sub-main .sub-main-container .sub-main-box1 .sub-main-img-bg {
  background-color: #FDE245;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 12%;
  left: 20%;
  z-index: -99;
  opacity: 0;
  transition: 0.1s;
}
.sub-main .sub-main-container .sub-main-box1:hover .sub-main-img-bg {
  opacity: 1;
}
.sub-main .sub-main-container .sub-main-box2 .sub-main-img-bg {
  background-color: #FD7645;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20%;
  left: 15%;
  z-index: -99;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box2:hover .sub-main-img-bg {
  opacity: 1;
}
.sub-main .sub-main-container .sub-main-box3 .sub-main-img-bg {
  background-color: #65A8FF;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: -99;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box3:hover .sub-main-img-bg {
  opacity: 1;
}

/* 토핑 */
.obj-wrapper.box1 img {
  position: absolute;
  width: 140%;
  top: -15%;
  left: -15px;
  z-index: -9;
  opacity: 0;
}
.obj-wrapper.box2 img {
  position: absolute;
  width: 130%;
  top: -25%;
  left: -15px;
  z-index: -9;
  opacity: 0;
}
.obj-wrapper.box3 img {
  position: absolute;
  width: 130%;
  top: 0%;
  left: -15px;
  z-index: -9;
  opacity: 0;
}

/* 검정색 제품 태그 */
.sub-main .sub-main-container .sub-main-box1 .sub-main-txt {
  background-color: #000;
  color: #fff;
  width: 200px;
  font-size: var(--font-title-md);
  font-family: var(--font-m-en);
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  transform: rotate(-7deg) scaleX(0);
  transform-origin: center left;
  position: absolute;
  left: 40%;
  bottom: -23%;
  z-index: 9;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box1:hover .sub-main-txt {
  opacity: 1;
  transform: rotate(-7deg) scaleX(1);
}
.sub-main .sub-main-container .sub-main-box2 .sub-main-txt {
  background-color: #000;
  color: #fff;
  width: 200px;
  font-size: var(--font-title-md);
  font-family: var(--font-m-en);
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  transform: rotate(-7deg) scaleX(0);
  transform-origin: center left;
  position: absolute;
  left: 45%;
  bottom: 10%;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box2:hover .sub-main-txt {
  opacity: 1;
  transform: rotate(-7deg) scaleX(1);
}
.sub-main .sub-main-container .sub-main-box3 .sub-main-txt {
  background-color: #000;
  color: #fff;
  width: 200px;
  font-size: var(--font-title-md);
  font-family: var(--font-m-en);
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  transform: rotate(-7deg) scaleX(0);
  transform-origin: center left;
  position: absolute;
  left: 40%;
  bottom: -22%;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box3:hover .sub-main-txt {
  opacity: 1;
  transform: rotate(-7deg) scaleX(1);
}


/* slide */
.sub-main .sub-main-slide {
  width: 200%;
  height: 50px;
  position: absolute;
  top: 40%;
  font-size: var(--font-title-md);
  font-family: var(--font-m-en);
  display: flex;
  font-weight: bold;
  animation: marquee 30s linear infinite;
  z-index: -999;
  white-space: nowrap;
}
@keyframes marquee {
  0% {
    left: 0
  }

  100% {
    left: -100%;
  }
}
.sub-main .sub-main-slide .marquee-contents-box {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* 제품명 */
.sub-main .sub-main-container .info-box {
  font-family: var(--font-m-en);
  font-size: var(--font-title-md);
  text-align: center;
  font-weight: bold;
}
.sub-main .sub-main-container .sub-main-box1 .info-box {
  color: #FDE245;
  transition: 0.5s;
  position: absolute;
  left: 35%;
  bottom: -45%;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box1 .info-box.active {
  opacity: 1;
}
.sub-main .sub-main-container .sub-main-box2 .info-box {
  color: #FD7645;
  transition: 0.5s;
  position: absolute;
  left: 35%;
  bottom: -8%;
  white-space: nowrap;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box2 .info-box.active {
  opacity: 1;
}
.sub-main .sub-main-container .sub-main-box3 .info-box {
  color: #65A8FF;
  transition: 0.5s;
  position: absolute;
  white-space: nowrap;
  left: 10%;
  bottom: -45%;
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box3 .info-box.active {
  opacity: 1;
}


.sub-main-box1 .obj-wrapper img.active {
  opacity: 1;
  z-index: -9;
}
.sub-main-box2 .obj-wrapper img.active {
  opacity: 1;
}
.sub-main-box3 .obj-wrapper img.active {
  opacity: 1;
}

.sub-main-cursor {
  cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox='0 0 120 120'%3E%3Ccircle cx='60' cy='60' r='60' fill='%230E0F19'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M63.7 50.3a1 1 0 0 0-1.4 1.4l7.29 7.3H48a1 1 0 1 0 0 2h21.59l-7.3 7.3a1 1 0 0 0 1.42 1.4l9-9 .7-.7-.7-.7-9-9Z' clip-rule='evenodd'/%3E%3C/svg%3E") 30 30, pointer;
}

/* 모바일 버전 */
@media (max-width: 450px) {
  .sub-main {
    margin: 30px 0 650px 70px;
    width: 100%;
  }
  .sub-main .sub-main-container {
    margin: 0 auto 200px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 380px;
    width: 85%;
  }

  .sub-main .sub-main-container .sub-main-box1 { grid-column: 1; grid-row: 1 / 2;}
  .sub-main .sub-main-container .sub-main-box2 { grid-column: 1; grid-row: 2 / 3;}
  .sub-main .sub-main-container .sub-main-box3 { grid-column: 1; grid-row: 3 / 4;}
  
  .sub-main .sub-main-container .sub-main-box1 .product1 {
    width: 70vw;
    height: 70vw;
  }
  .sub-main .sub-main-container .sub-main-box2 .product2 {
    width: 70vw;
    height: 70vw;
  }
  .sub-main .sub-main-container .sub-main-box3 .product3 {
    width: 70vw;
    height: 70vw;
  }
  .sub-main .sub-main-container .sub-main-box1 .sub-main-img-bg,
  .sub-main .sub-main-container .sub-main-box2 .sub-main-img-bg,
  .sub-main .sub-main-container .sub-main-box3 .sub-main-img-bg {
    width: 250%;
    height: 250%;
    top: 0;
    left: 0;
    /* right: 0; */
    /* bottom: 0; */
    transform: translate(12%, 13%);
    opacity: 1;
  }
  
  .sub-main .sub-main-container .sub-main-box1 .sub-main-txt,
  .sub-main .sub-main-container .sub-main-box2 .sub-main-txt,
  .sub-main .sub-main-container .sub-main-box3 .sub-main-txt {
    font-size: var(--font-mobile-md);
    opacity: 1;
    transform: rotate(-3deg) scaleX(1);
    font-size: 23px;
    width: 32vw;
  }
  .sub-main .sub-main-container .sub-main-box1 .sub-main-txt {
    left: 80%;
    bottom: -200%;
  }
  .sub-main .sub-main-container .sub-main-box2 .sub-main-txt {
    left: 80%;
    bottom: -200%;
  }
  .sub-main .sub-main-container .sub-main-box3 .sub-main-txt {
    left: 80%;
    bottom: -200%;
  }
  
  .sub-main .sub-main-container .sub-main-box1 .info-box,
  .sub-main .sub-main-container .sub-main-box2 .info-box,
  .sub-main .sub-main-container .sub-main-box3 .info-box {
    opacity: 1;
    font-size: 30px;
    padding: 0;
  }
  .sub-main .sub-main-container .sub-main-box1 .info-box {
    left: 75%;
    bottom: -240%;
    white-space: nowrap;
  }
  .sub-main .sub-main-container .sub-main-box2 .info-box {
    left: 75%;
    bottom: -240%;
  }
  .sub-main .sub-main-container .sub-main-box3 .info-box {
    left: 23%;
    bottom: -240%;
  }

  .sub-main-box1 .obj-wrapper img,
  .sub-main-box2 .obj-wrapper img,
  .sub-main-box3 .obj-wrapper img {
    opacity: 1;
  }
  .sub-main .sub-main-box1 .obj-wrapper img {
    width: 80vw;
    height: 70vw;
  }
  .sub-main .sub-main-box2 .obj-wrapper img {
    width: 70vw;
  }
  .sub-main .sub-main-box3 .obj-wrapper img {
    width: 70vw;
    height: 70vw;
  }

  .sub-main .sub-main-slide {
    top: 187%;
    font-size: 23px;
  }
  .sub-main .sub-main-slide svg {
    width: 23px;
    height: 23px;
  }
}